<h1>Listing Statuses</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Color</th>
      <th>Modify</th>
    </tr>
  </thead>

  <tbody>
  <% @statuses.each do |status| %>
    <tr>
      <td><%= status.name %></td>
      <td><%= status.color %></td>
      <td>
        <div class="btn-toolbar">
          <div class="btn-group">
            <a class="btn" href=<%= edit_status_url(status) %>><i class="icon-edit"></i></a>
            <%= link_to raw('<i class="icon-remove"></i>'), status, class: 'btn', method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </div>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'New Status', new_status_path, class: 'btn btn-primary btn-large' %>
