<% present job do |job_presenter| %>
  <tr>
    <td><%= job_presenter.icon %></td>
    <td><%= job_presenter.item_name %></td>
    <td><%= job_presenter.character_name %></td>
    <td><%= job_presenter.finishes %></td>
    <td class='job-progress'><%= job_presenter.progress_bar %></td>
  </tr>
<% end %>
