<h3 class="notifications-title-inline">Notifications</h3><%= link_to 'Dismiss All', notifications_dismiss_all_path, class: 'dismiss-all-button btn btn-mini' %><hr/>

<% unless @notifications.empty? %>
  <ol id="notifications" class="unstyled">
  <% @notifications.each do |note| %>
    <li class="notification">
      <div class="row">
        <div class="span8 offset2">
          <div class="note-text <%= if note.read_at.nil? then 'note-text-unread' end%>">
            <div class="note-title">
              <h5><%= note.message.title %></h5>
              <span class="note-time muted" title="<%= note.created_at %>"><%= time_ago_in_words note.created_at %> ago</span>
              <div class="note-dismiss">
                <% if note.read_at.nil? %><%= link_to 'Dismiss', notifications_dismiss_path( :id => note.id ), class: 'pull-right btn btn-mini' %><% end %>
              </div>
            </div>
            <% present note.message do |message_presenter| %>
              <%= message_presenter.render_message %>
            <% end %>
          </div>
        </div>
      </div>
    </li>
  <% end %>
  </ol>
<% else %>
    <span>No notifications yet.</span>
<% end %>
