<table class="table">
    <thead>
        <tr>
        <th>Next Due</th>
        <th>Ship</th>
        <th>#</th>
        <th>Status</th>
        <th>Start Date</th>
        <th>Notes</th>
        </tr>
    </thead>
    <tbody>
    <% @progress.each do |run| %>
      <tr>
        <td><%= 
            unless run.next_due.empty?
                Time.zone.parse(run.next_due).to_formatted_s(:short)
            end
        %></td>
        <td><%= run.ship.name %></td>
        <td><%= run.ship_number %></td>
        <td><%= run.status.name %></td>
        <td><%= 
            unless run.start_date.empty?
                Time.zone.parse(run.start_date).to_formatted_s(:short)
            end
        %></td>
        <td><%= run.notes %></td>
      </tr>
    <% end %>
    </tbody>
</table>