<div class="home-ship row">
  <div class="span8 offset2">
    <div class="media">
      <span class="pull-left thumbnail">
        <%=
        if @reservation.run.ship.type_id?
          image_tag "http://image.eveonline.com/Render/#{@reservation.run.ship.type_id}_256.png", :class => 'media-object'
        else
          image_tag "placeholder.jpg", :height => 256, :width => 256, :class => 'media-object'
        end
        %>
      </span>
      <div class="media-body">
        <h3 class="media-heading"><%= @reservation.run.ship.name %></h3> <h3 class="media-heading ship-light-text">#<%= @reservation.run.ship_number %></h3>
        <div class="reserved-ago-container">
          <span class="reserved-ago ship-light-text">Reserved <%= time_ago_in_words(@reservation.created_at) %> ago
            <% if current_character.admin? %>
            by <%= link_to @reservation.character.name, character_path(@reservation.character) %>
            <% end %></span>
        </div>
        <div class="reservation-info">
          <% if @reservation.run.start_date.present? %>
            <div class="ship-light-text">Started: <%= @reservation.run.start_date.to_s(:month_date) %></div>
          <% end %>
          <div class="ship-light-text">
            Last updated <%= time_ago_in_words(@reservation.run.updated_at) + ' ago' %>
          </div>
        </div>
        <div class="media">
          <span class="pull-left run-status-indicator" style="background-color: <%= @reservation.run.status.color %>">
          </span>
          <div class="media-body">
            <h4 class="media-heading"><%= @reservation.run.status.name %></h4>
            <div class="ship-light-text">
              <%=
              unless @reservation.run.next_due.nil?
                if @reservation.run.next_due.future?
                    "Current task finishes " + distance_of_time_in_words_to_now(@reservation.run.next_due) + " from now"
                else
                    "Current task finished " + time_ago_in_words(@reservation.run.next_due) + " ago"
                end
              end
              %>
            </div>
            <div class="ship-light-text">
              Last updated <%= time_ago_in_words(@reservation.run.updated_at) + ' ago' %>
            </div>
          </div>
        </div>
        <div class="reservation-finishes">
          <h4><%=
          if @reservation.run.finish_date?
              if @reservation.run.finish_date.future?
                  "Finishes in approximately " + distance_of_time_in_words_to_now(@reservation.run.finish_date)
              else
                  "Finished " + time_ago_in_words(@reservation.run.finish_date) + " ago"
              end
            else
              "Finish time unknown"
            end
            %></h4>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render :partial => 'reservations/comments', :locals => { :reservation => @reservation } %>
<div class="row">
  <div class="span8 offset2">
    <hr/>
  </div>
</div>
<div class="row">
  <div class="span8 offset2">
    <div class="reservation-comment">
      <div class="media">
        <span class="pull-left">
          <%= character_image_tag current_character.characterid, 64, {:height => 48, :width => 48} %>
        </span>
        <div class="media-body">
          <div class="res-comment-container-outer">
            <div class="res-comment-container">
              <div class="new-res-comment-form">
                <%= simple_form_for(ReservationComment.new, :html => {:class => 'form-vertical' }) do |f| %>
                <%= f.error_notification %>
                <%= f.error :base, :class => 'error-base' %>

                <%= f.input :body, :input_html => { :rows => 3 }, :label => false, :class => 'res-comment-input-body', :placeholder => 'Add a comment' %>
                </div>
                </div>
                </div>
                <%= f.button :submit, 'Comment', :class => 'btn btn-primary pull-right', :id => 'new-res-comment-button' %>
              <% end %>
      </div>
      </div>
    </div>
  </div>
</div>

