<h3>Characters</h3><hr/>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Character ID</th>
      <th>Last Sign In</th>
      <th>Registered</th>
      <th>Admin</th>
    </tr>
  </thead>

  <tbody>
  <% @characters.each do |character| %>
    <tr>
      <td><%= character_image_tag character.characterid %> <%= character.name %></td>
      <td><%= character.characterid %></td>
      <td title="<%= character.current_sign_in_at %>"><%= time_ago_in_words(character.current_sign_in_at) %> ago</td>
      <td><%= character.created_at.getlocal.to_formatted_s(:long_twelve_hour) %></td>
      <td><%= character.admin? ? 'Yes' : 'No' %></td>
    </tr>
  <% end %>
  </tbody>
</table>
