<div class="row">
  <div class="span4 offset4">
    <h2>Edit <%= resource_name.to_s.humanize %></h2>

    <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-vertical', :method => :put }) do |f| %>
      <%= f.error_notification %>

      <div class="registration_character">
        <%= character_image_tag current_character.characterid %> <span class="registration_character_name"><%= current_character.name %></span>
      </div>

      <%= f.input :password, :label => 'New Password', :input_html => { :class => 'close-hint'} %>
      <%= f.input :password_confirmation, :label => 'New Password Confirmation' %>
      <%= f.input :current_password, :label => 'Current Password', :input_html => { :class => 'close-hint' } %>

      <%= f.error :base %>
      <%= f.submit 'Update', :class => 'btn btn-primary btn-large' %>
    <% end %>
  </div>
</div>
