<div class="row">
  <% unless igb? %>
    <div class="span6 offset3">
      <h2>Sign Up</h2>
      <div>You must use the in-game browser, and trust this site to register. This is to tie your account to your ingame character.</div>
    </div>
  <% else %>
    <% if !igb.trusted? %>
      <div class="span6 offset3">
        <h2>Sign Up</h2>
        <div>You must trust this site in order to register. This is to tie your account to your ingame character.</div>
      </div>
    <% else %>
      <% if @already_registered %>
        <div class="span6 offset3">
          <h2>Already Registered</h2>
          <p>It looks like you've already registered, the name <span class="registered_name"><%= igb.char_name %></span> has already been taken.</p>
          <p><%= link_to "Click here", new_character_session_path %> to log in.</p>
        </div>
      <% else %>
        <div class="span4 offset4">
          <h2>Sign Up</h2>
          <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>

            <div class="registration_character">
              <%= character_image_tag igb.char_id %> <span class="registration_character_name"><%= igb.char_name %></span>
            </div>

            <div><%= f.label "Choose a password" %>
            <%= f.password_field :password %></div>

            <div><%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation %></div>

            <div><%= f.submit "Sign up", :class => 'btn btn-primary btn-large' %></div>
          <% end %>

          <%= render "devise/shared/links" %>
          
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>