<h3>Listing Ships</h3><hr/>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Ship type</th>
      <th>Type ID</th>
      <th>Finish Time</th>
      <th>Modify</th>
    </tr>
  </thead>

  <tbody>
  <% @ships.each do |ship| %>
    <tr>
      <td><%= ship.name %></td>
      <td><%= ship.ship_type %></td>
      <td><%= ship.type_id %></td>
      <td><%= ship.finish_time %></td>
      <td>
        <div class="btn-toolbar">
          <div class="btn-group">
            <a class="btn" href=<%= edit_ship_url(ship) %>><i class="icon-edit"></i></a>
            <%= link_to raw('<i class="icon-remove"></i>'), ship, class: 'btn', method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </div>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'New Ship', new_ship_path, class: 'btn btn-primary' %>
