<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @ship.name %>
</p>

<p>
  <b>Ship type:</b>
  <%= @ship.ship_type %>
</p>

<p>
  <b>Type ID:</b>
  <%= @ship.type_id %>
</p>

<p>
  <b>Finish Time:</b>
  <%= @ship.finish_time %>
</p>

<%= link_to 'Edit', edit_ship_path(@ship) %> |
<%= link_to 'Back', ships_path %>
