<ul class="nav pull-right">
  <% if character_signed_in? %>
    <% if @notification_count %>
      <li class="<%= is_active?("notifications") %>">
        <a href="<%= notifications_path %>"><span class="badge <%= if @notification_count > 0 then 'badge-important' end %>"><%= @notification_count %></span></a>
      </li>
    <% end %>
    <li class="divider-vertical"></li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= character_image_tag current_character.characterid, 32, :width => 20, :height => 20 %> <%= current_character.name %> <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li class="nav-header">Account</li>
        <li><a href="<%= edit_character_registration_path %>"><i class=" icon-wrench"></i> Settings</a></li>
        <li><a href="<%= reservations_path %>"><i class=" icon-flag"></i> Reservations</a></li>
        <li class="divider"></li>
        <li><%= link_to "Sign Out",  destroy_character_session_path, method: :delete %></li>
      </ul>
    </li>
  <% else %>
    <li><%= link_to 'Sign Up', new_character_registration_url %></li>
    <li><%= link_to 'Sign In', new_character_session_url %></li>
  <% end %>
</ul>